/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
  padding: 20px;
}

/* Secciones */
section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Titulos */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: #34495e;
}

h3 {
  font-size: 1.2rem;
  color: #2c3e50;
}

/* Listas */
ul, ol {
  margin-left: 20px;
  margin-bottom: 10px;
}

li {
  margin-bottom: 5px;
}

/* Productos Destacados */
#productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 20px;
}


.producto {
  background-color: #ecf0f1;
  padding: 15px;
  border-radius: 8px;
  flex: 1 1 200px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.producto:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.producto img {
  width: 150px;
  height: 150px;       /* Mantiene proporción */
  object-fit:contain;  /* Ajusta la imagen dentro del contenedor */
  align-self: center;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 20px;
  color: #7f8c8d;
  font-size: 0.9rem;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

/* Enlaces */
a {
  color: #2980b9;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para los párrafos dentro de los productos */
p {
  margin-bottom: 6px;
  color: #555;
  font-size: 0.95rem;
  line-height: 1.3;
}

/* Resaltar información importante usando span */
span {
  font-weight: bold;
  color: #2c3e50;  /* Color más oscuro para destacar */
}

.pill {
  display: inline-block;   /* Ajusta al contenido */
  padding: 3px 8px;        /* Espacio interno */
  background-color: #2980b9;
  color: #fff;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 12px;
  align-self: end;
}

